body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fb;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #b5d5f7;
}

section {
    background: #f6f5fc;
    padding: 25px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.nav {
    text-align: center;
    margin: 25px 0;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #fcecc5;
}
